@import "./base/util";
@import "./base/color";

* {
  box-sizing: border-box;
}

html, body {
  background-color: $white-light;
  color: #333;
  font-family: 'STHeiti', Arial;
  font-size: 16px;
}

p {
  font-size: 1rem;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  line-height: 1.5rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 20px 0;
}

h2 {
  font-size: 1.3rem;
  font-weight: bold;
}

h3 {
  font-size: 1.1rem;
  font-weight: normal;
}

ul, ol {
  list-style-position: inside;
}

a {
  color: $black-max;
  text-decoration: none;
  &:hover {
    color: $black-bright;
  }
}

.area-select {
  .el-select {
    margin-left: 0px;
    margin-right: 10px;
  }
}

// el-area margin fix
